# Dive Deeper: Supermarket Sales Analysis

> The growth of supermarkets in most populated cities are increasing and market competitions are also high. The dataset is one of the historical sales of supermarket company which has recorded in 3 different branches for 3 months data. [Source: Kaggle](https://www.kaggle.com/aungpyaeap/supermarket-sales)

## Import Library and Dataset

In [2]:
# import library
import pandas as pd

Silakan import data CSV bernama `supermarket_sales.csv`. Data ini diperoleh dari Kaggle dan hanya diambil beberapa kolom untuk kebutuhan analisis.

In [3]:
# import dataset, simpan ke object supermarket
supermarket = pd.read_csv("data_input/supermarket_sales.csv")
supermarket.head()

,invoice_id,city,customer,gender,product_line,unit_price,quantity,date,time,payment,rating
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08,Ewallet,9.1
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3/8/2019,10:29,Cash,9.6
2,631-41-3108,Yangon,Normal,Male,Home and lifestyle,46.33,7,3/3/2019,13:23,Credit card,7.4
3,123-19-1176,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33,Ewallet,8.4
4,373-73-7910,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37,Ewallet,5.3

In [4]:
# cek informasi data
supermarket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   invoice_id    1000 non-null   object
 1   city          1000 non-null   object
 2   customer      1000 non-null   object
 3   gender        1000 non-null   object
 4   product_line  1000 non-null   object
 5   unit_price    1000 non-null   float64
 6   quantity      1000 non-null   int64
 7   date          1000 non-null   object
 8   time          1000 non-null   object
 9   payment       1000 non-null   object
 10  rating        1000 non-null   float64
dtypes: float64(2), int64(1), object(8)
memory usage: 86.1+ KB

Deskripsi data:

- `invoice_id`: Computer generated sales slip invoice identification number
- `city`: Location of supercenters
- `customer`: Type of customers, recorded by Members for customers using member card and Normal for without member card
- `gender`: Gender type of customer
- `product_line`: General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel
- `unit_price`: Price of each product in dollar
- `quantity`: Number of products purchased by customer
- `date`: Date of purchase (Record available from January 2019 to March 2019)
- `time`: Purchase time (10am to 9pm)
- `payment`: Payment used by customer for purchase (3 methods are available â€“ Cash, Credit card and Ewallet)
- `rating`: Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)

## Data Pre-processing

Apakah seluruh kolom di atas sudah memiliki tipe data yang sesuai? Jika belum, kolom apa saja yang perlu diubah?

In [5]:
# cek tipe data
supermarket.dtypes

invoice_id       object
city             object
customer         object
gender           object
product_line     object
unit_price      float64
quantity          int64
date             object
time             object
payment          object
rating          float64
dtype: object

In [6]:
supermarket.nunique()

invoice_id      1000
city               3
customer           2
gender             2
product_line       6
unit_price       943
quantity          10
date              89
time             506
payment            3
rating            61
dtype: int64

In [7]:
supermarket.head()

,invoice_id,city,customer,gender,product_line,unit_price,quantity,date,time,payment,rating
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08,Ewallet,9.1
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3/8/2019,10:29,Cash,9.6
2,631-41-3108,Yangon,Normal,Male,Home and lifestyle,46.33,7,3/3/2019,13:23,Credit card,7.4
3,123-19-1176,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33,Ewallet,8.4
4,373-73-7910,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37,Ewallet,5.3

Kolom yang tipe datanya belum sesuai:
- 'city','customer','gender','product_line','payment' -> category
- menggabungkan kolom date dan time -> datetime64

In [8]:
# ubah tipe data category
cat_col = ['city','customer','gender','product_line','payment'] 

supermarket[cat_col] = supermarket[cat_col].astype('category')

In [9]:
# ..menggabungkan kolom date dan time
supermarket['datetime']=supermarket['date']+' '+supermarket['time']

In [10]:
supermarket.head()

,invoice_id,city,customer,gender,product_line,unit_price,quantity,date,time,payment,rating,datetime
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08,Ewallet,9.1,1/5/2019 13:08
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3/8/2019,10:29,Cash,9.6,3/8/2019 10:29
2,631-41-3108,Yangon,Normal,Male,Home and lifestyle,46.33,7,3/3/2019,13:23,Credit card,7.4,3/3/2019 13:23
3,123-19-1176,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33,Ewallet,8.4,1/27/2019 20:33
4,373-73-7910,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37,Ewallet,5.3,2/8/2019 10:37

In [11]:
# mengubah tipe data datetime
supermarket['datetime'] = supermarket['datetime'].astype('datetime64')

In [12]:
supermarket.dtypes

invoice_id              object
city                  category
customer              category
gender                category
product_line          category
unit_price             float64
quantity                 int64
date                    object
time                    object
payment               category
rating                 float64
datetime        datetime64[ns]
dtype: object

## Analysis

**Question**: Bantulah tim marketing untuk mengetahui jenis produk apa yang paling favorit di setiap kotanya? Favorit di sini berdasarkan banyaknya transaksi yang terjadi.

In [13]:
# ...
supermarket.pivot_table(
    index='city', 
    columns='product_line',
    aggfunc='count', #tabel frekuensi
    values='quantity',
).idxmax(axis=1)

city
Mandalay     Fashion accessories
Naypyitaw     Food and beverages
Yangon        Home and lifestyle
dtype: object

In [14]:
# ...
pd.crosstab(
    index=supermarket['city'],
    columns=supermarket['product_line']
).idxmax(axis=1)

city
Mandalay     Fashion accessories
Naypyitaw     Food and beverages
Yangon        Home and lifestyle
dtype: object

**Question**: Bantulah tim sales untuk mengetahui **total pendapatan kotor** untuk masing-masing kota, jika pada setiap transaksi diberlakukan pajak sebesar 5%.

Hint: Hitung `total` per transaksi terlebih dahulu, kemudian tambahkan dengan besar pajaknya.

In [15]:
supermarket.head()

,invoice_id,city,customer,gender,product_line,unit_price,quantity,date,time,payment,rating,datetime
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08,Ewallet,9.1,2019-01-05 13:08:00
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3/8/2019,10:29,Cash,9.6,2019-03-08 10:29:00
2,631-41-3108,Yangon,Normal,Male,Home and lifestyle,46.33,7,3/3/2019,13:23,Credit card,7.4,2019-03-03 13:23:00
3,123-19-1176,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33,Ewallet,8.4,2019-01-27 20:33:00
4,373-73-7910,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37,Ewallet,5.3,2019-02-08 10:37:00

In [16]:
# ..
supermarket['total'] = (supermarket['unit_price'] * supermarket['quantity'])
supermarket['total_kotor'] = supermarket['total'] + (supermarket['total'] * 0.05)

In [17]:
#supermarket['total'] = (supermarket['unit_price'] * supermarket['quantity']*1.05)

In [18]:
pd.crosstab(
    index=supermarket['city'],
    columns='Total',
    values=supermarket['total_kotor'],
    aggfunc='sum'
)

col_0            Total
city
Mandalay   106197.6720
Naypyitaw  110568.7065
Yangon     106200.3705

**Question:** Bantulah tim customer relation untuk mengetahui rata-rata tingkat kepuasan customer secara bulanan untuk masing-masing kota. Apakah mengalami penurunan atau kenaikan?

In [19]:
# ..
supermarket['month'] = supermarket['datetime'].dt.to_period('M')

In [20]:
pd.crosstab(
    index=supermarket['month'],
    columns=supermarket['city'],
    values=supermarket['rating'],
    aggfunc='mean'
)

city     Mandalay  Naypyitaw    Yangon
month
2019-01  6.801802   7.154918  7.078151
2019-02  7.008257   7.200000  7.007447
2019-03  6.649107   6.858491  6.993701

> Pada bulan Maret, di ketiga kota mengalami penurunan rating.

___